<div class="assinatura-canvas">
  @if (assinaturaConfirmada(); as url) {
    <img class="assinatura-canvas__previa" [src]="url" alt="Assinatura confirmada" />
    <div class="assinatura-canvas__acoes">
      <span class="assinatura-canvas__confirmado">
        <mat-icon>check_circle</mat-icon>
        Assinatura confirmada
      </span>
      <button mat-button type="button" (click)="assinarNovamente()">Assinar novamente</button>
    </div>
  } @else {
    <div class="assinatura-canvas__placeholder">
      <mat-icon>draw</mat-icon>
      <p>Nenhuma assinatura ainda</p>
    </div>
    <button mat-flat-button type="button" (click)="abrir()">
      <mat-icon>fullscreen</mat-icon>
      Assinar
    </button>
  }
</div>
