input[type='search'] {
  min-width: 240px;
  height: 40px;
  padding: 0 14px;
  border-radius: 8px;
  border: 1px solid var(--abrigo-border-forte);
  font-size: 14px;
  outline: none;

  &:focus {
    border-color: var(--abrigo-primary);
  }
}
